body {
  background-color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

/* HEADER */

header {
  background-color: rgba(211, 211, 211, 0.295);
  padding: 50px;
  background-blend-mode: hard-light;
}

header h1 {
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: rgba(62, 14, 90, 0.479);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* added nav */
header nav ul {
  position: absolute;
  top: 35px;
  right: 0px;
}
header nav li {
  display: inline;
  margin: 0 15px;
  text-decoration: underline;
}

/* ABOUT ME */

/* Styled the header elements */
h1,
h2,
h3 {
  position: relative;
  border-style: solid;
  background-color: rgba(62, 14, 90, 0.479);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

/* added borders to about all images */
main img {
  display: inline-block;
  width: 200px;
  height: 300px;
  border-style: solid;
  border-color: rgba(25, 23, 26, 0.534);
  border-width: 3px;
}

main p {
  display: inline-block;
  position: relative;
}

/* WORK */

main section {
  float: left;
  display: inline;
  width: 49%;
}

/* Added flex function to the work section as well as a transition effect */
.larger,
.normal {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* added caption for work section images */
.caption {
  position: absolute;
  bottom: 80px;
  right: 75px;
  background-color: rgba(62, 14, 90, 0.479);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* borders added */
.larger img {
  width: 300px;
  height: 300px;
  border-color: white;
  border-style: dashed;
  border-width: 1px;
}
/* borders added */
.normal img {
  width: 300px;
  height: 300px;
  border-color: rgba(25, 23, 26, 0.534);
  border-style: dashed;
  border-width: 1px;
}

/* Hover function added to work section images */
.larger:hover img,
.normal:hover img {
  background-color: burlywood;
  border-style: solid;
  border-color: #7d51a0;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 0.5;

  transform: scale(1.1);
}

/* Used @media rule to ensure quality apperance on all devices  */
@media screen and (max-width: 500px) {
  .larger,
  .normal {
    width: 100%;
  }
}

/* CONTACT */

/* Centered the contact information and applied flex to it */
section ul {
  margin: auto;
  text-align: center;
}

/* added  */
section li {
  display: flex;
  display: inline;
  width: 50%;
}

/* FOOTER */
footer p {
  background-color: rgba(211, 211, 211, 0.295);
  margin: 0;
  padding: 25px;
  text-align: center;
}
